.center-block {
	width: 10em;
	
}
.btn-block {
	margin-bottom: 1em;
}

body {
	background-image: url("../images/bimage.png");
	font-family: cursive
}
#player1Panel,#player2Panel {
background-image: url("../images/black.jpeg");
color: white;	
}